h2{
 color: rgb(66, 6, 6);
 font-size: 300%; 
 font-size: 2.5vw;  
 text-align:center;
}
h1,p1{
    background-color:palegoldenrod;
    color: rgb(66, 6, 6);
    font-size: 1.75vw;  
    text-align:center;
    font-family:courier ;
   }
h3,h4{
    text-align: center;
    color:rgb(95, 74, 47);
    font-size: 2.5vw;  
}
p{
    text-align: center;
    color:black;
    font-size: 2.5vw;  
    font-family:courier family ;  
}

 a {
     text-align: center;
        color:rgb(61, 36, 17);
        background-color: transparent;
        text-decoration: underline;
  }

ul{
    text-align: center;
    color:black;
    font-size: 2.5vw;  
}
img{

    margin: center;
   border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}
  